In [1239]:
import pandas as pd
import numpy as np

from collections import Counter

In [1240]:
# создаёт словарь из списка кортежей, который, в свою очередь, получен из счётчика

def counter_list_to_dict(list_):
    dict_ = {}
    for el in list_:
        dict_[el[0]] = el[1]
    return dict_

Подгружаем данные:

In [1241]:
green_user_stats = pd.read_csv('green_user_stats.csv')
lesson_stats = pd.read_csv('lesson_stats.csv')
statistics_of_the_other_users = pd.read_csv('statistics_of_other_users.csv', sep=';', encoding='cp1251')
user_details = pd.read_csv('user_details.csv')

In [1242]:
users = pd.read_csv('users.csv')

In [1243]:
users.loc[users['EMAIL ADDRESS'] == 'lida.malygina@gmail.com', 'USERNAME'] = 'lida.malygina@gmail.com'
user_details.loc[user_details['Пользователь'] == 'lida.malygina@GMAIL.COM', 'Пользователь'] = 'lida.malygina@gmail.com'
lesson_stats.loc[lesson_stats['Пользователь'] == 'lida.malygina@GMAIL.COM', 'Пользователь'] = 'lida.malygina@gmail.com'

Посмотрим на данные поближе:

### Green_user_stats:

In [1244]:
green_user_stats.head(2)

,Пользователь,Регион Города,Город Пользователя,Количество Мусора,Тип Мусора,Искатель,Количество Баллов,Дата Завершения
0,test@test.ru,Москва,Армавир,8-12 мешков,Банки,вапрвыапвапвап,10,2024-05-28 18:57:58.259380+00:00
1,e.mushinskiy@soccard.ru,Москва,Москва,8-12 мешков,Окурки,ТЕСТ,10,2024-05-30 11:39:59.946088+00:00

In [1245]:
green_user_stats.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46 entries, 0 to 45
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Пользователь        46 non-null     object
 1   Регион Города       46 non-null     object
 2   Город Пользователя  46 non-null     object
 3   Количество Мусора   46 non-null     object
 4   Тип Мусора          46 non-null     object
 5   Искатель            46 non-null     object
 6   Количество Баллов   46 non-null     int64
 7   Дата Завершения     46 non-null     object
dtypes: int64(1), object(7)
memory usage: 3.0+ KB

Green_User какая-то странная таблица, займемся ей позже

### Lesson_stats:

In [1246]:
lesson_stats.head(2)

,Пользователь,Дата открытия модуля,Дата начала прослушивания,Начало теста,Завершение теста,Урок,Количество баллов за тест
0,test@test.ru,2024-09-10 21:57:49.431957+00:00,2024-05-29 10:17:26.910777+00:00,2024-05-29 10:19:57.469127+00:00,NaN,1,NaN
1,zhenyakasyanova@gmail.com,2024-05-29 10:42:21.910412+00:00,2024-05-29 10:42:27.165974+00:00,2024-05-29 10:56:48.047761+00:00,2024-05-29 10:58:52.901134+00:00,4,9.0

In [1247]:
lesson_stats.isna().sum().sort_values(ascending=False)

Дата начала прослушивания    462
Завершение теста             358
Количество баллов за тест    358
Начало теста                 324
Пользователь                   0
Дата открытия модуля           0
Урок                           0
dtype: int64

Посчитаем для каждого пользователя количество уроков (всего и законченных):

In [1248]:
lessons_finished = Counter(lesson_stats.loc[~lesson_stats['Количество баллов за тест'].isna(), 'Пользователь'].to_list()).most_common()
lessons_total = Counter(lesson_stats['Пользователь'].to_list()).most_common()

lessons_finished_dict = counter_list_to_dict(lessons_finished)
lessons_total_dict = counter_list_to_dict(lessons_total)

In [1249]:
# a = Counter(lesson_stats.loc[~lesson_stats['Количество баллов за тест'].isna(), 'Пользователь'].to_list())
# a['lida.malygina@gmail.com']

### Statistics_of_the_other_users:

In [1250]:
statistics_of_the_other_users.head(5)

,Пользователь,Лучший Урок,Открытие,Рекомендации,Дата Завершения
0,ivan.ptr@gmail.com,Тайны мусорных контейнеров,Test,8,"May 29, 2024, 6:53 a.m."
1,ivan.ptr@gmail.com,В среде обитания,Test,8,"May 29, 2024, 6:53 a.m."
2,tes1t@test.ru,Идём по углеродному следу,dasd,5,"May 29, 2024, 8:21 a.m."
3,tes1t@test.ru,Пульс городских вод,dasd,5,"May 29, 2024, 8:21 a.m."
4,test2@test.ru,Идём по углеродному следу,13123123,10,"May 29, 2024, 9:22 a.m."

In [1251]:
statistics_of_the_other_users.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56 entries, 0 to 55
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Пользователь     56 non-null     object
 1   Лучший Урок      56 non-null     object
 2   Открытие         56 non-null     object
 3   Рекомендации     56 non-null     int64
 4   Дата Завершения  56 non-null     object
dtypes: int64(1), object(4)
memory usage: 2.3+ KB

Очередная странная таблица :) Надо будет попробовать объединить её с первой странной таблицей!

### User_details:

In [1252]:
user_details.head(2)

       Пользователь Местоположение  Монеты  Подписчики Пароль  Новости
0      test@test.ru       Мурманск     109        True  12345    False
1  zdotat@yandex.ru         Москва      67        True  12345    False

In [1253]:
user_details.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 654 entries, 0 to 653
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Пользователь    654 non-null    object
 1   Местоположение  654 non-null    object
 2   Монеты          654 non-null    int64
 3   Подписчики      654 non-null    bool
 4   Пароль          654 non-null    object
 5   Новости         654 non-null    bool
dtypes: bool(2), int64(1), object(3)
memory usage: 21.8+ KB

In [1254]:
user_details['Пользователь'].nunique()

654

### Users:

In [1255]:
users.head(2)

,Unnamed: 0,USERNAME,EMAIL ADDRESS,FIRST NAME,LAST NAME,STAFF STATUS
0,0,040198asya@mail.ru,040198asya@mail.ru,Анастасия,Осминина,False
1,1,11.041982marina@gmail.com,11.041982marina@gmail.com,Марина,Гурьяшкина,False

In [1256]:
users.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 659 entries, 0 to 658
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     659 non-null    int64
 1   USERNAME       659 non-null    object
 2   EMAIL ADDRESS  659 non-null    object
 3   FIRST NAME     659 non-null    object
 4   LAST NAME      659 non-null    object
 5   STAFF STATUS   659 non-null    bool
dtypes: bool(1), int64(1), object(4)
memory usage: 26.5+ KB

In [1257]:
users['EMAIL ADDRESS'].nunique()

658

Есть один адрес который надо поправить в таблицах:

Выделим уникальных пользователей:

In [1258]:
users_unique = users['EMAIL ADDRESS'].unique()
user_details_unique = user_details['Пользователь'].unique()
lesson_stats_unique = lesson_stats['Пользователь'].unique()

l1_ = [el for el in user_details_unique if el not in users_unique]
l2_ = [el for el in users_unique if el not in user_details_unique]

l1_, l2_

([], ['pepiks@yandex.ru', 'Ferrick@mail.ru', 'n_bumagina2015@mail.ru', '-'])

In [1259]:
users[users['EMAIL ADDRESS'].isin(l2_)]

,Unnamed: 0,USERNAME,EMAIL ADDRESS,FIRST NAME,LAST NAME,STAFF STATUS
20,20,admin,pepiks@yandex.ru,-,-,True
155,155,Ferrick@mail.ru,Ferrick@mail.ru,Николай,Голомбовский,False
420,420,n_bumagina2015@mail.ru,n_bumagina2015@mail.ru,Наталья,Бумагина,False
437,437,ogenor,-,-,-,True
542,542,statistic,-,-,-,True

In [1260]:
print(f'Уникальных пользователей: users: {len(users_unique)}, user_details: {len(user_details_unique)}, lesson_stats: {len(lesson_stats_unique)}')

Уникальных пользователей: users: 658, user_details: 654, lesson_stats: 439

Переименуем столбцы в таблице **users**, приведём названия к одному виду:

In [1261]:
users = users.drop('Unnamed: 0', axis=1)
users = users.rename(columns={'USERNAME':'Пользователь', 'EMAIL ADDRESS':'email', 'FIRST NAME':'Имя', 'LAST NAME':'Фамилия', 'STAFF STATUS':'Персонал'})

Соединим таблицы **users** и **user_details**:

In [1262]:
users_merged = users.merge(user_details, how='left', on='Пользователь')

In [1263]:
users_merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 659 entries, 0 to 658
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Пользователь    659 non-null    object
 1   email           659 non-null    object
 2   Имя             659 non-null    object
 3   Фамилия         659 non-null    object
 4   Персонал        659 non-null    bool
 5   Местоположение  654 non-null    object
 6   Монеты          654 non-null    float64
 7   Подписчики      654 non-null    object
 8   Пароль          654 non-null    object
 9   Новости         654 non-null    object
dtypes: bool(1), float64(1), object(8)
memory usage: 52.1+ KB

In [1264]:
users_merged = users_merged.drop('Пароль', axis=1)

users_merged['Персонал'] = users_merged['Персонал'].apply(lambda x: 1 if x else 0)
users_merged['Новости'] = users_merged['Новости'].apply(lambda x: 1 if x else 0)
users_merged['Подписчики'] = users_merged['Подписчики'].apply(lambda x: 1 if x else 0)

Заполняем пропуски:

In [1265]:
users_merged['Монеты'] = users_merged['Монеты'].fillna(0)
users_merged['Местоположение'] = users_merged['Местоположение'].fillna('Без города')

Добавим информацию по урокам:

In [1266]:
users_merged['Количество уроков всего'] = users_merged['Пользователь'].map(lessons_total_dict)
users_merged['Количество законченных уроков'] = users_merged['Пользователь'].map(lessons_finished_dict)

users_merged['Количество уроков всего'] = users_merged['Количество уроков всего'].fillna(0)
users_merged['Количество законченных уроков'] = users_merged['Количество законченных уроков'].fillna(0)

Обработаем таблицу **lesson_stats**.

Переведём временные значения к формату **datetime**:

In [1267]:
cols = lesson_stats.columns[1:5]
lesson_stats[cols] = lesson_stats[cols].apply(pd.to_datetime, errors='coerce')

In [1268]:
mask = lesson_stats['Количество баллов за тест'].isna()
lesson_stats['Время теста'] = 0
lesson_stats.loc[~mask, 'Время теста'] = lesson_stats.loc[~mask, 'Завершение теста'] - lesson_stats.loc[~mask, 'Начало теста']

lesson_stats['Время теста'] = lesson_stats['Время теста'].map(lambda x: pd.to_timedelta(x).seconds)

Вернёмся к объединенной таблице **users_merged**:

Добавим средний балл:

In [1269]:
# уникальные пользователи исключая работников
users_list = users_merged[users_merged['Персонал'] == 0]['Пользователь'].unique()

# уникальные пользователи проходязщие курс
users_course_list = lesson_stats['Пользователь'].unique()

In [1270]:
av_points = {}

for user in users_list:  
    mask = (lesson_stats['Пользователь'] == user) & (~lesson_stats['Количество баллов за тест'].isna())
   
    lessons_finished = users_merged.loc[users_merged['Пользователь'] == user, 'Количество законченных уроков'].values[0]
    
    if lessons_finished != 0:
        av_points[user] = round(lesson_stats.loc[mask, 'Количество баллов за тест'].sum() / lessons_finished, 2)
    else:
        av_points[user] = 0

users_merged['Средняя оценка'] = users_merged['Пользователь'].map(av_points)

Добавим так же следующие признаки:
- среднее время теста
- время тестирования всего
- время на курсе всего

In [1271]:
av_time = {}
test_time_total = {}
total_time = {}

# найдём время, потраченное пользователем на конкретный урок
lesson_stats['Время на уроке'] = lesson_stats['Завершение теста'] - lesson_stats['Дата открытия модуля']
lesson_stats['Время на уроке'] = round(lesson_stats['Время на уроке'].dt.total_seconds(), 0)
lesson_stats['Время на уроке'] = lesson_stats['Время на уроке'].fillna(0)

for user in users_list:
    mask = lesson_stats['Пользователь'] == user

    lessons_finished = users_merged.loc[users_merged['Пользователь'] == user, 'Количество законченных уроков'].values[0]   

    if lessons_finished != 0:
        av_time[user] = round(lesson_stats.loc[mask, 'Время теста'].sum() / lessons_finished, 2)
    else:
        av_time[user] = 0
    test_time_total[user] = lesson_stats.loc[mask, 'Время теста'].sum()
    total_time[user] = lesson_stats.loc[mask, 'Время на уроке'].sum()

users_merged['Среднее время теста'] = users_merged['Пользователь'].map(av_time)
users_merged['Время тестирования всего'] = users_merged['Пользователь'].map(test_time_total)
users_merged['Время на курсе (завершённые уроки)'] = users_merged['Пользователь'].map(total_time)

Мы посчитали полное время на курсе суммируя время прохождения завершённых уроков.

Теперь посчитаем полное время через *max_time - min_time* для каждого пользователя:

In [1274]:
total_time_max_min = {}

for user in users_course_list:   
    mask = lesson_stats['Пользователь'] == user
    cols_time = lesson_stats.columns.to_list()[1:5]
    
    mins = lesson_stats.loc[mask, cols_time].min()
    maxs = lesson_stats.loc[mask, cols_time].max()
    diff = (maxs.max() - mins.min()).seconds

    total_time_max_min[user] = diff

users_merged['Время на курсе (max-min)'] = users_merged['Пользователь'].map(total_time_max_min)
users_merged['Время на курсе (max-min)'] = users_merged['Время на курсе (max-min)'].fillna(0)

Добавим номер урока, на котором остановился пользователь:

In [1275]:
current_lesson = {}

for user in users_course_list:
    mask = (lesson_stats['Пользователь'] == user) & (~lesson_stats['Завершение теста'].isna())
    l = lesson_stats.loc[mask, 'Урок'].to_list()
    l.sort()
    if len(l) == 0:
        current_lesson[user] = 1
    else:
        current_lesson[user] = l[-1] + 1

users_merged['Текущий урок'] = users_merged['Пользователь'].map(current_lesson)
users_merged['Текущий урок'] = users_merged['Текущий урок'].fillna(0)

In [1277]:
users_merged.head(50)

,Пользователь,email,Имя,Фамилия,Персонал,Местоположение,Монеты,Подписчики,Новости,Количество уроков всего,Количество законченных уроков,Средняя оценка,Среднее время теста,Время тестирования всего,Время на курсе,Время на курсе (max-min),Текущий урок
0,040198asya@mail.ru,040198asya@mail.ru,Анастасия,Осминина,0,Екатеринбург,18.0,1,1,3.0,2.0,9.00,68.00,136.0,1232.0,1353.0,3.0
1,11.041982marina@gmail.com,11.041982marina@gmail.com,Марина,Гурьяшкина,0,Рязань,0.0,1,1,0.0,0.0,0.00,0.00,0.0,0.0,0.0,0.0
2,12131981@mail.ru,12131981@mail.ru,Наталья,Дейниченко,0,Владивосток,0.0,1,0,0.0,0.0,0.00,0.00,0.0,0.0,0.0,0.0
3,1291746@mail.ru,1291746@mail.ru,Ирина,Баландина,0,Пушкино,0.0,1,0,0.0,0.0,0.00,0.00,0.0,0.0,0.0,0.0
4,12irina1-3@mail.ru,12irina1-3@mail.ru,Ирина,Мусорина,0,Без города,0.0,0,0,0.0,0.0,0.00,0.00,0.0,0.0,0.0,0.0
5,1585Yulia@mail.ru,1585Yulia@mail.ru,Сергей,Смирнов,0,Волгоград,10.0,1,1,1.0,0.0,0.00,0.00,0.0,0.0,36.0,1.0
6,19svetochka91@mail.ru,19svetochka91@mail.ru,Светлана,Зыкова,0,Таганрог,10.0,1,1,1.0,0.0,0.00,0.00,0.0,0.0,72948.0,1.0
7,2424ula1978@mail.ru,2424ula1978@mail.ru,Юлия,Марченко,0,Без города,0.0,0,1,0.0,0.0,0.00,0.00,0.0,0.0,0.0,0.0
8,26bukreev26@mail.ru,26bukreev26@mail.ru,Анна,Букреева,0,Без города,0.0,0,1,0.0,0.0,0.00,0.00,0.0,0.0,0.0,0.0
9,6167079@mail.ru,6167079@mail.ru,Екатерина,Вараксина,0,Без города,0.0,0,1,1.0,0.0,0.00,0.00,0.0,0.0,0.0,1.0
10,624392@gmail.com,624392@gmail.com,Татьяна,Власова,0,Без города,10.0,0,1,1.0,0.0,0.00,0.00,0.0,0.0,0.0,1.0
11,662434@mail.ru,662434@mail.ru,Елена,Уваркина,0,Томск,0.0,1,1,0.0,0.0,0.00,0.00,0.0,0.0,0.0,0.0
12,694787@mail.ru,694787@mail.ru,Александр,Беляев,0,Барнаул,0.0,1,1,1.0,0.0,0.00,0.00,0.0,0.0,5.0,1.0
13,79029905675@ya.ru,79029905675@ya.ru,Татьяна,Шемелёва,0,Красноярск,9.0,1,1,2.0,1.0,9.00,40.00,40.0,181.0,73241.0,2.0
14,79129311415@yandex.ru,79129311415@yandex.ru,Надежда,Рыбченко,0,Без города,9.0,0,1,2.0,1.0,9.00,28.00,28.0,438.0,452.0,2.0
15,79129311515@yandex.ru,79129311515@yandex.ru,Надежда,Рыбченко,0,Без города,0.0,0,0,0.0,0.0,0.00,0.00,0.0,0.0,0.0,0.0
16,7tosha81@mail.ru,7tosha81@mail.ru,Виктория,Григорьева,0,Уссурийск,18.0,1,1,2.0,2.0,9.00,39.00,78.0,918.0,1669.0,3.0
17,89539189895shum.uv@gmail.com,89539189895shum.uv@gmail.com,Ульяна,Шумихина,0,Без города,0.0,0,1,1.0,0.0,0.00,0.00,0.0,0.0,12626.0,1.0
18,89685397558@mail.ru,89685397558@mail.ru,Варвара,Зорина,0,Без города,24.0,0,1,3.0,3.0,8.00,54.33,163.0,707.0,7715.0,4.0
19,9670812246@mail.ru,9670812246@mail.ru,Светлана,Ландарь,0,Без города,0.0,0,1,0.0,0.0,0.00,0.00,0.0,0.0,0.0,0.0
20,admin,pepiks@yandex.ru,-,-,1,Без города,0.0,1,1,0.0,0.0,NaN,NaN,NaN,NaN,0.0,0.0
21,afoninalv@mail.ru,afoninalv@mail.ru,Людмила,Афонина,0,Дзержинск,27.0,1,1,3.0,3.0,9.00,44.33,133.0,986.0,1041.0,4.0
22,agalagan80@mail.ru,agalagan80@mail.ru,Анна,Прощалыгина,0,Томск,0.0,1,1,1.0,0.0,0.00,0.00,0.0,0.0,15.0,1.0
23,agata-65@mail.ru,agata-65@mail.ru,Татьяна,Соколова,0,Раменское,129.0,1,0,15.0,14.0,8.57,98.93,1385.0,7828.0,5360.0,15.0
24,akylinina_e@mail.ru,akylinina_e@mail.ru,Елена,Акулинина,0,Уфа,9.0,1,1,2.0,1.0,9.00,79.00,79.0,566.0,594.0,2.0
25,alba.vasi@yandex.ru,alba.vasi@yandex.ru,Albina,Lappo,0,Без города,18.0,0,0,2.0,2.0,9.00,36.50,73.0,-7903.0,10344.0,3.0
26,albinacenter24@icloud.com,albinacenter24@icloud.com,Альбина,Аркадьева,0,Якутск,24.0,1,1,3.0,3.0,8.00,67.00,201.0,-114940.0,29926.0,4.0
27,albinchik1967@gmail.com,albinchik1967@gmail.com,Альбина,Шувалова,0,Без города,72.0,0,0,8.0,7.0,9.00,144.00,1008.0,3062.0,5719.0,8.0
28,aleksandradolmatova@inbox.fu,aleksandradolmatova@inbox.fu,Александра,Долматова,0,Ставрополь,0.0,1,0,0.0,0.0,0.00,0.00,0.0,0.0,0.0,0.0
29,aleksandradolmatova@inbox.ru,aleksandradolmatova@inbox.ru,Александра,Долматова,0,Ставрополь,0.0,1,0,0.0,0.0,0.00,0.00,0.0,0.0,0.0,0.0
30,aleksa-nina@mail.ru,aleksa-nina@mail.ru,Нина,Кулагина,0,Без города,10.0,0,0,1.0,0.0,0.00,0.00,0.0,0.0,47.0,1.0
31,aleksa-poletaeva@yandex.ru,aleksa-poletaeva@yandex.ru,Александра,Рыбакова,0,Пушкино,124.0,1,1,15.0,14.0,8.21,3986.64,55813.0,-2980132.0,21880.0,15.0
32,alenaalekseeva471@gmail.com,alenaalekseeva471@gmail.com,Алена,Алексеева,0,Без города,0.0,0,0,0.0,0.0,0.00,0.00,0.0,0.0,0.0,0.0
33,alena_klimova@inbox.ru,alena_klimova@inbox.ru,Алёна,Иванова,0,Омск,63.0,1,1,7.0,7.0,9.00,50.86,356.0,860.0,57343.0,8.0
34,alexandra.krasko1997@yandex.ru,alexandra.krasko1997@yandex.ru,Александра,Цвирко,0,Без города,0.0,0,1,1.0,0.0,0.00,0.00,0.0,0.0,26315.0,1.0
35,alexbor2011@inbox.ru,alexbor2011@inbox.ru,Александр,Борщев,0,Астрахань,10.0,1,1,1.0,0.0,0.00,0.00,0.0,0.0,0.0,1.0
36,alexnadezhda@yandex.ru,alexnadezhda@yandex.ru,Надежда,Алексеева,0,Иркутск,10.0,1,0,1.0,0.0,0.00,0.00,0.0,0.0,0.0,1.0
37,alexTestov@mail.ru,alexTestov@mail.ru,Алексей,Тестов,0,Без города,0.0,0,1,2.0,0.0,0.00,0.00,0.0,0.0,861.0,1.0
38,alianastaver@yandex.ru,alianastaver@yandex.ru,Алина,Ставер,0,Абакан,103.0,1,1,13.0,11.0,8.55,53.91,593.0,1519.0,3448.0,12.0
39,alice14102005@gmail.com,alice14102005@gmail.com,Алиса,Чораян,0,Без города,0.0,0,1,1.0,0.0,0.00,0.00,0.0,0.0,0.0,1.0
40,alinaarz94@mail.ru,alinaarz94@mail.ru,Алина,Арзамасцева,0,Без города,10.0,0,0,1.0,0.0,0.00,0.00,0.0,0.0,0.0,1.0
41,aliya16.86@mail.ru,aliya16.86@mail.ru,Алия,Мадышева,0,Без города,0.0,0,1,1.0,0.0,0.00,0.00,0.0,0.0,7478.0,1.0
42,Aliyarezvanova@mail.ru,Aliyarezvanova@mail.ru,Алия,Резванова,0,Без города,18.0,0,1,2.0,2.0,9.00,80.00,160.0,-157491.0,54134.0,3.0
43,alla190771@mail.ru,alla190771@mail.ru,Алла,Таргонская,0,Без города,10.0,0,1,1.0,0.0,0.00,0.00,0.0,0.0,15.0,1.0
44,alla6702@yandex.ru,alla6702@yandex.ru,Алла,Змитрович,0,Санкт-Петербург,0.0,1,0,0.0,0.0,0.00,0.00,0.0,0.0,0.0,0.0
45,all-chocolate@mail.ru,all-chocolate@mail.ru,Юлия,Горбунова,0,Орск,0.0,1,0,0.0,0.0,0.00,0.00,0.0,0.0,0.0,0.0
46,allenapo@yandex.ru,allenapo@yandex.ru,Алена,Иванова,0,Без города,0.0,0,0,0.0,0.0,0.00,0.00,0.0,0.0,0.0,0.0
47,alyona-solovyovamk@yamdex.ru,alyona-solovyovamk@yamdex.ru,Алена,Горелова,0,Без города,9.0,0,0,0.0,0.0,0.00,0.00,0.0,0.0,0.0,0.0
48,alyonushka85@list.ru,alyonushka85@list.ru,Елена,Олейникова,0,Новосибирск,0.0,1,1,0.0,0.0,0.00,0.00,0.0,0.0,0.0,0.0
49,amaksimovic2271@yandex.ru,amaksimovic2271@yandex.ru,Анастасия,Кикоть,0,Без города,124.0,0,0,15.0,14.0,8.21,81.79,1145.0,4674.0,71063.0,15.0

In [1172]:
# экспортируем датафрейм в эксель

users_merged.to_excel("users.xlsx", sheet_name='Уникальные пользователи')

Теперь соберём статистику по урокам. Найдём следующие признаки для каждого урока: