In [1102]:
import pandas as pd
import numpy as np

from collections import Counter

In [1103]:
# создаёт словарь из списка кортежей, который, в свою очередь, получен из счётчика

def counter_list_to_dict(list_):
    dict_ = {}
    for el in list_:
        dict_[el[0]] = el[1]
    return dict_

Подгружаем данные:

In [1104]:
green_user_stats = pd.read_csv('green_user_stats.csv')
lesson_stats = pd.read_csv('lesson_stats.csv')
statistics_of_the_other_users = pd.read_csv('statistics_of_other_users.csv', sep=';', encoding='cp1251')
user_details = pd.read_csv('user_details.csv')

In [1105]:
users = pd.read_csv('users.csv')

In [1106]:
users.loc[users['EMAIL ADDRESS'] == 'lida.malygina@gmail.com', 'USERNAME'] = 'lida.malygina@gmail.com'
user_details.loc[user_details['Пользователь'] == 'lida.malygina@GMAIL.COM', 'Пользователь'] = 'lida.malygina@gmail.com'
lesson_stats.loc[lesson_stats['Пользователь'] == 'lida.malygina@GMAIL.COM', 'Пользователь'] = 'lida.malygina@gmail.com'

Посмотрим на данные поближе:

### Green_user_stats:

In [1107]:
green_user_stats.head(2)

,Пользователь,Регион Города,Город Пользователя,Количество Мусора,Тип Мусора,Искатель,Количество Баллов,Дата Завершения
0,test@test.ru,Москва,Армавир,8-12 мешков,Банки,вапрвыапвапвап,10,2024-05-28 18:57:58.259380+00:00
1,e.mushinskiy@soccard.ru,Москва,Москва,8-12 мешков,Окурки,ТЕСТ,10,2024-05-30 11:39:59.946088+00:00

In [1108]:
green_user_stats.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46 entries, 0 to 45
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Пользователь        46 non-null     object
 1   Регион Города       46 non-null     object
 2   Город Пользователя  46 non-null     object
 3   Количество Мусора   46 non-null     object
 4   Тип Мусора          46 non-null     object
 5   Искатель            46 non-null     object
 6   Количество Баллов   46 non-null     int64
 7   Дата Завершения     46 non-null     object
dtypes: int64(1), object(7)
memory usage: 3.0+ KB

Green_User какая-то странная таблица, займемся ей позже

### Lesson_stats:

In [1109]:
lesson_stats.head(2)

,Пользователь,Дата открытия модуля,Дата начала прослушивания,Начало теста,Завершение теста,Урок,Количество баллов за тест
0,test@test.ru,2024-09-10 21:57:49.431957+00:00,2024-05-29 10:17:26.910777+00:00,2024-05-29 10:19:57.469127+00:00,NaN,1,NaN
1,zhenyakasyanova@gmail.com,2024-05-29 10:42:21.910412+00:00,2024-05-29 10:42:27.165974+00:00,2024-05-29 10:56:48.047761+00:00,2024-05-29 10:58:52.901134+00:00,4,9.0

In [1110]:
lesson_stats.isna().sum().sort_values(ascending=False)

Дата начала прослушивания    462
Завершение теста             358
Количество баллов за тест    358
Начало теста                 324
Пользователь                   0
Дата открытия модуля           0
Урок                           0
dtype: int64

Посчитаем для каждого пользователя количество уроков (всего и законченных):

In [1111]:
lessons_finished = Counter(lesson_stats.loc[~lesson_stats['Количество баллов за тест'].isna(), 'Пользователь'].to_list()).most_common()
lessons_total = Counter(lesson_stats['Пользователь'].to_list()).most_common()

lessons_finished_dict = counter_list_to_dict(lessons_finished)
lessons_total_dict = counter_list_to_dict(lessons_total)

In [1112]:
# a = Counter(lesson_stats.loc[~lesson_stats['Количество баллов за тест'].isna(), 'Пользователь'].to_list())
# a['lida.malygina@gmail.com']

### Statistics_of_the_other_users:

In [1113]:
statistics_of_the_other_users.head(5)

,Пользователь,Лучший Урок,Открытие,Рекомендации,Дата Завершения
0,ivan.ptr@gmail.com,Тайны мусорных контейнеров,Test,8,"May 29, 2024, 6:53 a.m."
1,ivan.ptr@gmail.com,В среде обитания,Test,8,"May 29, 2024, 6:53 a.m."
2,tes1t@test.ru,Идём по углеродному следу,dasd,5,"May 29, 2024, 8:21 a.m."
3,tes1t@test.ru,Пульс городских вод,dasd,5,"May 29, 2024, 8:21 a.m."
4,test2@test.ru,Идём по углеродному следу,13123123,10,"May 29, 2024, 9:22 a.m."

In [1114]:
statistics_of_the_other_users.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56 entries, 0 to 55
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Пользователь     56 non-null     object
 1   Лучший Урок      56 non-null     object
 2   Открытие         56 non-null     object
 3   Рекомендации     56 non-null     int64
 4   Дата Завершения  56 non-null     object
dtypes: int64(1), object(4)
memory usage: 2.3+ KB

Очередная странная таблица :) Надо будет попробовать объединить её с первой странной таблицей!

### User_details:

In [1115]:
user_details.head(2)

       Пользователь Местоположение  Монеты  Подписчики Пароль  Новости
0      test@test.ru       Мурманск     109        True  12345    False
1  zdotat@yandex.ru         Москва      67        True  12345    False

In [1116]:
user_details.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 654 entries, 0 to 653
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Пользователь    654 non-null    object
 1   Местоположение  654 non-null    object
 2   Монеты          654 non-null    int64
 3   Подписчики      654 non-null    bool
 4   Пароль          654 non-null    object
 5   Новости         654 non-null    bool
dtypes: bool(2), int64(1), object(3)
memory usage: 21.8+ KB

In [1117]:
user_details['Пользователь'].nunique()

654

### Users:

In [1118]:
users.head(2)

,Unnamed: 0,USERNAME,EMAIL ADDRESS,FIRST NAME,LAST NAME,STAFF STATUS
0,0,040198asya@mail.ru,040198asya@mail.ru,Анастасия,Осминина,False
1,1,11.041982marina@gmail.com,11.041982marina@gmail.com,Марина,Гурьяшкина,False

In [1119]:
users.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 659 entries, 0 to 658
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     659 non-null    int64
 1   USERNAME       659 non-null    object
 2   EMAIL ADDRESS  659 non-null    object
 3   FIRST NAME     659 non-null    object
 4   LAST NAME      659 non-null    object
 5   STAFF STATUS   659 non-null    bool
dtypes: bool(1), int64(1), object(4)
memory usage: 26.5+ KB

In [1120]:
users['EMAIL ADDRESS'].nunique()

658

Есть один адрес который надо поправить в таблицах:

Выделим уникальных пользователей:

In [1121]:
users_unique = users['EMAIL ADDRESS'].unique()
user_details_unique = user_details['Пользователь'].unique()
lesson_stats_unique = lesson_stats['Пользователь'].unique()

l1_ = [el for el in user_details_unique if el not in users_unique]
l2_ = [el for el in users_unique if el not in user_details_unique]

l1_, l2_

([], ['pepiks@yandex.ru', 'Ferrick@mail.ru', 'n_bumagina2015@mail.ru', '-'])

In [1122]:
users[users['EMAIL ADDRESS'].isin(l2_)]

,Unnamed: 0,USERNAME,EMAIL ADDRESS,FIRST NAME,LAST NAME,STAFF STATUS
20,20,admin,pepiks@yandex.ru,-,-,True
155,155,Ferrick@mail.ru,Ferrick@mail.ru,Николай,Голомбовский,False
420,420,n_bumagina2015@mail.ru,n_bumagina2015@mail.ru,Наталья,Бумагина,False
437,437,ogenor,-,-,-,True
542,542,statistic,-,-,-,True

In [1123]:
print(f'Уникальных пользователей: users: {len(users_unique)}, user_details: {len(user_details_unique)}, lesson_stats: {len(lesson_stats_unique)}')

Уникальных пользователей: users: 658, user_details: 654, lesson_stats: 439

Переименуем столбцы в таблице **users**, приведём названия к одному виду:

In [1124]:
users = users.drop('Unnamed: 0', axis=1)
users = users.rename(columns={'USERNAME':'Пользователь', 'EMAIL ADDRESS':'email', 'FIRST NAME':'Имя', 'LAST NAME':'Фамилия', 'STAFF STATUS':'Персонал'})

Соединим таблицы **users** и **user_details**:

In [1125]:
users_merged = users.merge(user_details, how='left', on='Пользователь')

In [1126]:
users_merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 659 entries, 0 to 658
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Пользователь    659 non-null    object
 1   email           659 non-null    object
 2   Имя             659 non-null    object
 3   Фамилия         659 non-null    object
 4   Персонал        659 non-null    bool
 5   Местоположение  654 non-null    object
 6   Монеты          654 non-null    float64
 7   Подписчики      654 non-null    object
 8   Пароль          654 non-null    object
 9   Новости         654 non-null    object
dtypes: bool(1), float64(1), object(8)
memory usage: 52.1+ KB

In [1127]:
users_merged = users_merged.drop('Пароль', axis=1)

users_merged['Персонал'] = users_merged['Персонал'].apply(lambda x: 1 if x else 0)
users_merged['Новости'] = users_merged['Новости'].apply(lambda x: 1 if x else 0)
users_merged['Подписчики'] = users_merged['Подписчики'].apply(lambda x: 1 if x else 0)

Заполняем пропуски:

In [1128]:
users_merged['Монеты'] = users_merged['Монеты'].fillna(0)
users_merged['Местоположение'] = users_merged['Местоположение'].fillna('Без города')

Добавим информацию по урокам:

In [1129]:
users_merged['Количество уроков всего'] = users_merged['Пользователь'].map(lessons_total_dict)
users_merged['Количество законченных уроков'] = users_merged['Пользователь'].map(lessons_finished_dict)

users_merged['Количество уроков всего'] = users_merged['Количество уроков всего'].fillna(0)
users_merged['Количество законченных уроков'] = users_merged['Количество законченных уроков'].fillna(0)

Обработаем таблицу **lesson_stats**.

Переведём временные значения к формату **datetime**:

In [1130]:
cols = lesson_stats.columns[1:5]
lesson_stats[cols] = lesson_stats[cols].apply(pd.to_datetime, errors='coerce')

In [1131]:
mask = lesson_stats['Количество баллов за тест'].isna()
lesson_stats['Время теста'] = 0
lesson_stats.loc[~mask, 'Время теста'] = lesson_stats.loc[~mask, 'Завершение теста'] - lesson_stats.loc[~mask, 'Начало теста']

lesson_stats['Время теста'] = lesson_stats['Время теста'].map(lambda x: pd.to_timedelta(x).seconds)

Вернёмся к объединенной таблице **users_merged**:

Добавим средний балл:

In [1132]:
# уникальные пользователи исключая работников
users_list = users_merged[users_merged['Персонал'] == 0]['Пользователь'].unique()

# уникальные пользователи проходязщие курс
users_course_list = lesson_stats['Пользователь'].unique()

In [1133]:
av_points = {}

for user in users_list:  
    mask = (lesson_stats['Пользователь'] == user) & (~lesson_stats['Количество баллов за тест'].isna())
   
    lessons_finished = users_merged.loc[users_merged['Пользователь'] == user, 'Количество законченных уроков'].values[0]
    
    if lessons_finished != 0:
        av_points[user] = round(lesson_stats.loc[mask, 'Количество баллов за тест'].sum() / lessons_finished, 2)
    else:
        av_points[user] = 0

users_merged['Средняя оценка'] = users_merged['Пользователь'].map(av_points)

Добавим так же следующие признаки:
- среднее время теста
- время тестирования всего
- время на курсе всего

In [1134]:
av_time = {}
test_time_total = {}
total_time = {}

# найдём время, потраченное пользователем на конкретный урок
lesson_stats['Время на уроке'] = lesson_stats['Завершение теста'] - lesson_stats['Дата открытия модуля']
lesson_stats['Время на уроке'] = round(lesson_stats['Время на уроке'].dt.total_seconds(), 0)
lesson_stats['Время на уроке'] = lesson_stats['Время на уроке'].fillna(0)

for user in users_list:
    mask = lesson_stats['Пользователь'] == user

    lessons_finished = users_merged.loc[users_merged['Пользователь'] == user, 'Количество законченных уроков'].values[0]   

    if lessons_finished != 0:
        av_time[user] = round(lesson_stats.loc[mask, 'Время теста'].sum() / lessons_finished, 2)
    else:
        av_time[user] = 0
        
    test_time_total[user] = lesson_stats.loc[mask, 'Время теста'].sum()
    total_time[user] = lesson_stats.loc[mask, 'Время на уроке'].sum()

users_merged['Среднее время теста'] = users_merged['Пользователь'].map(av_time)
users_merged['Время тестирования всего'] = users_merged['Пользователь'].map(test_time_total)
users_merged['Время на курсе'] = users_merged['Пользователь'].map(total_time)

Добавим номер урока, на котором остановился пользователь:

In [1135]:
current_lesson = {}

for user in users_course_list:
    mask = (lesson_stats['Пользователь'] == user) & (~lesson_stats['Завершение теста'].isna())
    l = lesson_stats.loc[mask, 'Урок'].to_list()
    l.sort()
    if len(l) == 0:
        current_lesson[user] = 1
    else:
        current_lesson[user] = l[-1] + 1

users_merged['Текущий урок'] = users_merged['Пользователь'].map(current_lesson)
users_merged['Текущий урок'] = users_merged['Текущий урок'].fillna(0)

In [1136]:
users_merged.head(20)

,Пользователь,email,Имя,Фамилия,Персонал,Местоположение,Монеты,Подписчики,Новости,Количество уроков всего,Количество законченных уроков,Средняя оценка,Среднее время теста,Время тестирования всего,Время на курсе,Текущий урок
0,040198asya@mail.ru,040198asya@mail.ru,Анастасия,Осминина,0,Екатеринбург,18.0,1,1,3.0,2.0,9.0,68.00,136.0,1232.0,3.0
1,11.041982marina@gmail.com,11.041982marina@gmail.com,Марина,Гурьяшкина,0,Рязань,0.0,1,1,0.0,0.0,0.0,0.00,0.0,0.0,0.0
2,12131981@mail.ru,12131981@mail.ru,Наталья,Дейниченко,0,Владивосток,0.0,1,0,0.0,0.0,0.0,0.00,0.0,0.0,0.0
3,1291746@mail.ru,1291746@mail.ru,Ирина,Баландина,0,Пушкино,0.0,1,0,0.0,0.0,0.0,0.00,0.0,0.0,0.0
4,12irina1-3@mail.ru,12irina1-3@mail.ru,Ирина,Мусорина,0,Без города,0.0,0,0,0.0,0.0,0.0,0.00,0.0,0.0,0.0
5,1585Yulia@mail.ru,1585Yulia@mail.ru,Сергей,Смирнов,0,Волгоград,10.0,1,1,1.0,0.0,0.0,0.00,0.0,0.0,1.0
6,19svetochka91@mail.ru,19svetochka91@mail.ru,Светлана,Зыкова,0,Таганрог,10.0,1,1,1.0,0.0,0.0,0.00,0.0,0.0,1.0
7,2424ula1978@mail.ru,2424ula1978@mail.ru,Юлия,Марченко,0,Без города,0.0,0,1,0.0,0.0,0.0,0.00,0.0,0.0,0.0
8,26bukreev26@mail.ru,26bukreev26@mail.ru,Анна,Букреева,0,Без города,0.0,0,1,0.0,0.0,0.0,0.00,0.0,0.0,0.0
9,6167079@mail.ru,6167079@mail.ru,Екатерина,Вараксина,0,Без города,0.0,0,1,1.0,0.0,0.0,0.00,0.0,0.0,1.0
10,624392@gmail.com,624392@gmail.com,Татьяна,Власова,0,Без города,10.0,0,1,1.0,0.0,0.0,0.00,0.0,0.0,1.0
11,662434@mail.ru,662434@mail.ru,Елена,Уваркина,0,Томск,0.0,1,1,0.0,0.0,0.0,0.00,0.0,0.0,0.0
12,694787@mail.ru,694787@mail.ru,Александр,Беляев,0,Барнаул,0.0,1,1,1.0,0.0,0.0,0.00,0.0,0.0,1.0
13,79029905675@ya.ru,79029905675@ya.ru,Татьяна,Шемелёва,0,Красноярск,9.0,1,1,2.0,1.0,9.0,40.00,40.0,181.0,2.0
14,79129311415@yandex.ru,79129311415@yandex.ru,Надежда,Рыбченко,0,Без города,9.0,0,1,2.0,1.0,9.0,28.00,28.0,438.0,2.0
15,79129311515@yandex.ru,79129311515@yandex.ru,Надежда,Рыбченко,0,Без города,0.0,0,0,0.0,0.0,0.0,0.00,0.0,0.0,0.0
16,7tosha81@mail.ru,7tosha81@mail.ru,Виктория,Григорьева,0,Уссурийск,18.0,1,1,2.0,2.0,9.0,39.00,78.0,918.0,3.0
17,89539189895shum.uv@gmail.com,89539189895shum.uv@gmail.com,Ульяна,Шумихина,0,Без города,0.0,0,1,1.0,0.0,0.0,0.00,0.0,0.0,1.0
18,89685397558@mail.ru,89685397558@mail.ru,Варвара,Зорина,0,Без города,24.0,0,1,3.0,3.0,8.0,54.33,163.0,707.0,4.0
19,9670812246@mail.ru,9670812246@mail.ru,Светлана,Ландарь,0,Без города,0.0,0,1,0.0,0.0,0.0,0.00,0.0,0.0,0.0

In [867]:
lesson_stats

,Пользователь,Дата открытия модуля,Дата начала прослушивания,Начало теста,Завершение теста,Урок,Количество баллов за тест,Время теста,Время на уроке
0,test@test.ru,2024-09-10 21:57:49.431957+00:00,2024-05-29 10:17:26.910777+00:00,2024-05-29 10:19:57.469127+00:00,NaT,1,NaN,0,0.0
1,zhenyakasyanova@gmail.com,2024-05-29 10:42:21.910412+00:00,2024-05-29 10:42:27.165974+00:00,2024-05-29 10:56:48.047761+00:00,2024-05-29 10:58:52.901134+00:00,4,9.0,124,991.0
2,nikiforova1973@yandex.ru,2024-05-29 10:16:50.171427+00:00,NaT,NaT,NaT,1,NaN,0,0.0
3,test3@ya.ru,2024-05-29 10:22:39.678997+00:00,NaT,2024-05-29 10:22:50.462136+00:00,NaT,1,NaN,0,0.0
4,test3@ya.ru,2024-05-29 10:28:08.874413+00:00,2024-05-29 10:28:22.954900+00:00,2024-05-29 10:28:24.978422+00:00,NaT,2,NaN,0,0.0
...,...,...,...,...,...,...,...,...,...
1697,chebonenko.kseniya@yandex.ru,2024-10-04 03:40:35.261599+00:00,NaT,NaT,NaT,15,NaN,0,0.0
1698,chebonenko.kseniya@yandex.ru,2024-10-04 03:43:00.537699+00:00,2024-10-04 03:43:14.693047+00:00,2024-10-04 03:43:55.328693+00:00,NaT,8,NaN,0,0.0
1699,EvgeshaAngel_92@mail.ru,2024-10-04 04:30:21.454122+00:00,2024-10-04 04:21:53.942157+00:00,2024-10-04 04:30:24.837419+00:00,2024-10-04 04:31:20.132888+00:00,2,9.0,55,59.0
1700,pnw95@mail.ru,2024-10-10 14:06:14.338041+00:00,NaT,NaT,NaT,15,NaN,0,0.0
1701,juliarudaya@mail.ru,2024-10-11 12:10:56.862301+00:00,2024-10-11 12:05:50.656143+00:00,2024-10-11 12:06:21.992303+00:00,2024-10-11 12:07:04.544799+00:00,1,9.0,42,-232.0

In [515]:
# экспортируем датафрейм в эксель

# users_merged.to_excel("users.xlsx", sheet_name='Уникальные пользователи')

Теперь соберём статистику по урокам. Найдём следующие признаки для каждого урока: