In [1391]:
import pandas as pd
import numpy as np

from collections import Counter

In [1392]:
# создаёт словарь из списка кортежей, который, в свою очередь, получен из счётчика

def counter_list_to_dict(list_):
    dict_ = {}
    for el in list_:
        dict_[el[0]] = el[1]
    return dict_

Подгружаем данные:

In [1393]:
green_user_stats = pd.read_csv('green_user_stats.csv')
lesson_stats = pd.read_csv('lesson_stats.csv')
statistics_of_the_other_users = pd.read_csv('statistics_of_other_users.csv', sep=';', encoding='cp1251')
user_details = pd.read_csv('user_details.csv')
users = pd.read_csv('users.csv')

In [1394]:
# приведём почту и имя регистрации к нижнему регистру
green_user_stats['Пользователь'] = green_user_stats['Пользователь'].str.lower()
statistics_of_the_other_users['Пользователь'] = statistics_of_the_other_users['Пользователь'].str.lower()
user_details['Пользователь'] = user_details['Пользователь'].str.lower()
lesson_stats['Пользователь'] = lesson_stats['Пользователь'].str.lower()

Посмотрим на данные поближе:

### Green_user_stats:

In [1395]:
green_user_stats.head(2)

,Пользователь,Регион Города,Город Пользователя,Количество Мусора,Тип Мусора,Искатель,Количество Баллов,Дата Завершения
0,test@test.ru,Москва,Армавир,8-12 мешков,Банки,вапрвыапвапвап,10,2024-05-28 18:57:58.259380+00:00
1,e.mushinskiy@soccard.ru,Москва,Москва,8-12 мешков,Окурки,ТЕСТ,10,2024-05-30 11:39:59.946088+00:00

In [1396]:
green_user_stats.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46 entries, 0 to 45
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Пользователь        46 non-null     object
 1   Регион Города       46 non-null     object
 2   Город Пользователя  46 non-null     object
 3   Количество Мусора   46 non-null     object
 4   Тип Мусора          46 non-null     object
 5   Искатель            46 non-null     object
 6   Количество Баллов   46 non-null     int64
 7   Дата Завершения     46 non-null     object
dtypes: int64(1), object(7)
memory usage: 3.0+ KB

Green_User какая-то странная таблица, займемся ей позже

### Statistics_of_the_other_users:

Посчитаем для каждого пользователя количество уроков (всего и законченных):

In [1397]:
statistics_of_the_other_users.head(5)

,Пользователь,Лучший Урок,Открытие,Рекомендации,Дата Завершения
0,ivan.ptr@gmail.com,Тайны мусорных контейнеров,Test,8,"May 29, 2024, 6:53 a.m."
1,ivan.ptr@gmail.com,В среде обитания,Test,8,"May 29, 2024, 6:53 a.m."
2,tes1t@test.ru,Идём по углеродному следу,dasd,5,"May 29, 2024, 8:21 a.m."
3,tes1t@test.ru,Пульс городских вод,dasd,5,"May 29, 2024, 8:21 a.m."
4,test2@test.ru,Идём по углеродному следу,13123123,10,"May 29, 2024, 9:22 a.m."

In [1398]:
statistics_of_the_other_users.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56 entries, 0 to 55
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Пользователь     56 non-null     object
 1   Лучший Урок      56 non-null     object
 2   Открытие         56 non-null     object
 3   Рекомендации     56 non-null     int64
 4   Дата Завершения  56 non-null     object
dtypes: int64(1), object(4)
memory usage: 2.3+ KB

Очередная странная таблица :) Надо будет попробовать объединить её с первой странной таблицей!

### User_details:

In [1399]:
user_details.head(2)

       Пользователь Местоположение  Монеты  Подписчики Пароль  Новости
0      test@test.ru       Мурманск     109        True  12345    False
1  zdotat@yandex.ru         Москва      67        True  12345    False

In [1400]:
user_details.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 654 entries, 0 to 653
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Пользователь    654 non-null    object
 1   Местоположение  654 non-null    object
 2   Монеты          654 non-null    int64
 3   Подписчики      654 non-null    bool
 4   Пароль          654 non-null    object
 5   Новости         654 non-null    bool
dtypes: bool(2), int64(1), object(3)
memory usage: 21.8+ KB

In [1401]:
user_details['Пользователь'].nunique()

650

In [1402]:
user_details['Пользователь'] = user_details['Пользователь'].str.lower()

### Users:

In [1403]:
users.head(2)

,Unnamed: 0,USERNAME,EMAIL ADDRESS,FIRST NAME,LAST NAME,STAFF STATUS
0,0,040198asya@mail.ru,040198asya@mail.ru,Анастасия,Осминина,False
1,1,11.041982marina@gmail.com,11.041982marina@gmail.com,Марина,Гурьяшкина,False

In [1404]:
users.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 659 entries, 0 to 658
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     659 non-null    int64
 1   USERNAME       659 non-null    object
 2   EMAIL ADDRESS  659 non-null    object
 3   FIRST NAME     659 non-null    object
 4   LAST NAME      659 non-null    object
 5   STAFF STATUS   659 non-null    bool
dtypes: bool(1), int64(1), object(4)
memory usage: 26.5+ KB

In [1405]:
users['USERNAME'] = users['USERNAME'].str.lower()
users['EMAIL ADDRESS'] = users['EMAIL ADDRESS'].str.lower()

In [1406]:
users['EMAIL ADDRESS'].nunique()

654

Выделим уникальных пользователей:

In [1407]:
users_unique = users['EMAIL ADDRESS'].unique()
user_details_unique = user_details['Пользователь'].unique()
lesson_stats_unique = lesson_stats['Пользователь'].unique()

l1_ = [el for el in user_details_unique if el not in users_unique]
l2_ = [el for el in users_unique if el not in user_details_unique]

l1_, l2_

([], ['pepiks@yandex.ru', 'ferrick@mail.ru', 'n_bumagina2015@mail.ru', '-'])

In [1408]:
users[users['EMAIL ADDRESS'].isin(l2_)]

,Unnamed: 0,USERNAME,EMAIL ADDRESS,FIRST NAME,LAST NAME,STAFF STATUS
20,20,admin,pepiks@yandex.ru,-,-,True
155,155,ferrick@mail.ru,ferrick@mail.ru,Николай,Голомбовский,False
420,420,n_bumagina2015@mail.ru,n_bumagina2015@mail.ru,Наталья,Бумагина,False
437,437,ogenor,-,-,-,True
542,542,statistic,-,-,-,True

In [1409]:
print(f'Уникальных пользователей: users: {len(users_unique)}, user_details: {len(user_details_unique)}, lesson_stats: {len(lesson_stats_unique)}')

Уникальных пользователей: users: 654, user_details: 650, lesson_stats: 437

Переименуем столбцы в таблице **users**, приведём названия к одному виду:

In [1410]:
users = users.drop('Unnamed: 0', axis=1)
users = users.rename(columns={'USERNAME':'Пользователь', 'EMAIL ADDRESS':'email', 'FIRST NAME':'Имя', 'LAST NAME':'Фамилия', 'STAFF STATUS':'Персонал'})

### Lesson_stats:

In [1411]:
lesson_stats.head(2)

,Пользователь,Дата открытия модуля,Дата начала прослушивания,Начало теста,Завершение теста,Урок,Количество баллов за тест
0,test@test.ru,2024-09-10 21:57:49.431957+00:00,2024-05-29 10:17:26.910777+00:00,2024-05-29 10:19:57.469127+00:00,NaN,1,NaN
1,zhenyakasyanova@gmail.com,2024-05-29 10:42:21.910412+00:00,2024-05-29 10:42:27.165974+00:00,2024-05-29 10:56:48.047761+00:00,2024-05-29 10:58:52.901134+00:00,4,9.0

In [1412]:
lesson_stats.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1702 entries, 0 to 1701
Data columns (total 7 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Пользователь               1702 non-null   object
 1   Дата открытия модуля       1702 non-null   object
 2   Дата начала прослушивания  1240 non-null   object
 3   Начало теста               1378 non-null   object
 4   Завершение теста           1344 non-null   object
 5   Урок                       1702 non-null   int64
 6   Количество баллов за тест  1344 non-null   float64
dtypes: float64(1), int64(1), object(5)
memory usage: 93.2+ KB

In [1413]:
lesson_stats.isna().sum().sort_values(ascending=False)

Дата начала прослушивания    462
Завершение теста             358
Количество баллов за тест    358
Начало теста                 324
Пользователь                   0
Дата открытия модуля           0
Урок                           0
dtype: int64

Уберём дубликаты из уроков, если пользователь прошёл тест 2-й раз. Также уберём дубликат, когда было только открытие модуля.

На будущее нужно будет сделать тут некоторый фильтр, который:
- имеет критерии, чтобы удалять нерелевантные записи (например, пользователь зашёл на платформу и забыл про урок - данные хоть и полезные, но могут портить статистику)
- может объядинять строки по одному уроку с получением адекватного результата

In [1414]:
# for user in users_unique.tolist():
#     mask_duplicates = (lesson_stats.loc[lesson_stats['Пользователь'] == user]['Урок'].duplicated(keep='first') | 
#                 lesson_stats.loc[lesson_stats['Пользователь'] == user]['Урок'].duplicated(keep='last')
#                 )
#     if mask_duplicates.sum() != 0:
#         lessons_dup_list = lesson_stats.loc[mask_duplicates.index, 'Урок'].unique()
#         for lesson in lessons_dup_list:
#             idx_ = lesson_stats.loc[mask_duplicates & (lesson_stats['Урок'] == lesson).index].isna().sum(axis=1).idxmax()
#             lesson_stats = lesson_stats.drop(index=idx_)

Ну а пока так, ручками:

In [1415]:
lesson_stats = lesson_stats.drop(index=[981, 904, 905, 906])
lesson_stats = lesson_stats.reset_index(drop=True)

Посчитаем количество уроков всего и законченных уроков:

In [1416]:
lessons_finished = Counter(lesson_stats.loc[~lesson_stats['Количество баллов за тест'].isna(), 'Пользователь'].to_list()).most_common()
lessons_total = Counter(lesson_stats['Пользователь'].to_list()).most_common()

lessons_finished_dict = counter_list_to_dict(lessons_finished)
lessons_total_dict = counter_list_to_dict(lessons_total)

Соединим таблицы **users** и **user_details**:

In [1417]:
users_merged = users.merge(user_details, how='left', on='Пользователь')

In [1418]:
users_merged = users_merged.drop_duplicates(subset=['Пользователь'])

In [1419]:
users_merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 655 entries, 0 to 666
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Пользователь    655 non-null    object
 1   email           655 non-null    object
 2   Имя             655 non-null    object
 3   Фамилия         655 non-null    object
 4   Персонал        655 non-null    bool
 5   Местоположение  650 non-null    object
 6   Монеты          650 non-null    float64
 7   Подписчики      650 non-null    object
 8   Пароль          650 non-null    object
 9   Новости         650 non-null    object
dtypes: bool(1), float64(1), object(8)
memory usage: 51.8+ KB

In [1420]:
users_merged = users_merged.drop('Пароль', axis=1)

users_merged['Персонал'] = users_merged['Персонал'].apply(lambda x: 1 if x else 0)
users_merged['Новости'] = users_merged['Новости'].apply(lambda x: 1 if x else 0)
users_merged['Подписчики'] = users_merged['Подписчики'].apply(lambda x: 1 if x else 0)

Заполняем пропуски:

In [1421]:
users_merged['Монеты'] = users_merged['Монеты'].fillna(0)
users_merged['Местоположение'] = users_merged['Местоположение'].fillna('Без города')

Добавим информацию по урокам:

In [1422]:
users_merged['Количество уроков всего'] = users_merged['Пользователь'].map(lessons_total_dict)
users_merged['Количество законченных уроков'] = users_merged['Пользователь'].map(lessons_finished_dict)

users_merged['Количество уроков всего'] = users_merged['Количество уроков всего'].fillna(0)
users_merged['Количество законченных уроков'] = users_merged['Количество законченных уроков'].fillna(0)

Обработаем таблицу **lesson_stats**.

Переведём временные значения к формату **datetime**:

In [1423]:
cols = lesson_stats.columns[1:5]
lesson_stats[cols] = lesson_stats[cols].apply(pd.to_datetime, errors='coerce')

In [1424]:
mask = lesson_stats['Количество баллов за тест'].isna()
lesson_stats['Время теста'] = 0
lesson_stats.loc[~mask, 'Время теста'] = lesson_stats.loc[~mask, 'Завершение теста'] - lesson_stats.loc[~mask, 'Начало теста']

lesson_stats['Время теста'] = lesson_stats['Время теста'].map(lambda x: pd.to_timedelta(x).seconds)

Вернёмся к объединенной таблице **users_merged**:

Добавим средний балл:

In [1425]:
# уникальные пользователи исключая работников
users_list = users_merged[users_merged['Персонал'] == 0]['Пользователь'].unique()

# уникальные пользователи проходязщие курс
users_course_list = lesson_stats['Пользователь'].unique()

Посчитаем средний балл за тест. Также добавим так же следующие признаки:
- среднее время теста
- номер урока, на котором остановился пользователь
- время тестирования всего
- время на курсе всего

Ещё посчитаем полное время через *max_time - min_time*. До этого время на курсе было равно суммарному времени завершённых уроков, время урока посчитано через разницу
*начало прослушивания* - *завершение тестирования*:

In [1426]:
av_points = {}
av_test_time = {}
med_test_time = {}

av_time_listen = {}
av_time_module = {}
med_time_listen = {}
med_time_module = {}

last_lesson = {}
current_lesson = {}

test_time_total = {}
total_time_listen = {}
total_time_module = {}
total_time_max_min = {}

# найдём время, потраченное пользователем на конкретный урок
lesson_stats['Время на уроке (прослушивание)'] = lesson_stats['Завершение теста'] - lesson_stats['Дата начала прослушивания']
lesson_stats['Время на уроке (прослушивание)'] = round(lesson_stats['Время на уроке (прослушивание)'].dt.total_seconds(), 0)
lesson_stats['Время на уроке (прослушивание)'] = lesson_stats['Время на уроке (прослушивание)'].fillna(0)

lesson_stats['Время на уроке (модуль)'] = lesson_stats['Завершение теста'] - lesson_stats['Дата открытия модуля']
lesson_stats['Время на уроке (модуль)'] = round(lesson_stats['Время на уроке (модуль)'].dt.total_seconds(), 0)
lesson_stats['Время на уроке (модуль)'] = lesson_stats['Время на уроке (модуль)'].fillna(0)

for user in users_course_list:  
    # считаем последний урок
    mask = (lesson_stats['Пользователь'] == user) & (~lesson_stats['Завершение теста'].isna())
    lessons_list = lesson_stats.loc[mask, 'Урок'].to_list()
    lessons_list.sort()
    if len(lessons_list) == 0:
        last_lesson[user] = 0
    else:
        last_lesson[user] = lessons_list[-1]

    # считаем текущий урок для пользователя
    # текущим будет считаться незаконченный урок, открытый последним
    _mask_ = (~lesson_stats['Дата открытия модуля'].isna()) | (~lesson_stats['Дата начала прослушивания'].isna())
    mask__ = (lesson_stats['Пользователь'] == user) & (lesson_stats['Завершение теста'].isna()) & _mask_
    
    if mask__.sum() != 0:
        idx_user = lesson_stats.loc[mask__, 'Дата открытия модуля'].idxmax()
        current_lesson[user] = lesson_stats['Урок'].iloc[idx_user]
    else:
        current_lesson[user] = 0
    
    # считаем средний балл за тест и среднее время урока и теста
    mask_ = (lesson_stats['Пользователь'] == user) & (~lesson_stats['Количество баллов за тест'].isna())
    lessons_finished = users_merged.loc[users_merged['Пользователь'] == user, 'Количество законченных уроков'].values[0]   
    if lessons_finished != 0:
        av_points[user] = round(lesson_stats.loc[mask_, 'Количество баллов за тест'].sum() / lessons_finished, 2)
        av_test_time[user] = round(lesson_stats.loc[mask_, 'Время теста'].sum() / lessons_finished, 2)       
        med_test_time[user] = lesson_stats.loc[mask_, 'Время теста'].median()

        av_time_listen[user] = round(lesson_stats.loc[mask_, 'Время на уроке (прослушивание)'].sum() / lessons_finished, 2)
        av_time_module[user] = round(lesson_stats.loc[mask_, 'Время на уроке (модуль)'].sum() / lessons_finished, 2)
        med_time_listen[user] = lesson_stats.loc[mask_, 'Время на уроке (прослушивание)'].median()
        med_time_module[user] = lesson_stats.loc[mask_, 'Время на уроке (модуль)'].median()
    else:
        av_points[user] = 0
        av_test_time[user] = 0
        med_test_time[user] = 0

        av_time_listen[user] = 0
        av_time_module[user] = 0
        med_time_listen[user] = 0
        med_time_module[user] = 0
    

    # считаем время, потраченное на все тесты и время, потраченное на уроки (с тестом) 
    test_time_total[user] = lesson_stats.loc[mask, 'Время теста'].sum()
    total_time_module[user] = lesson_stats.loc[mask, 'Время на уроке (модуль)'].sum()
    total_time_listen[user] = lesson_stats.loc[mask, 'Время на уроке (прослушивание)'].sum()
    
    # считаем время курса через max_time - min_time
    mask = lesson_stats['Пользователь'] == user
    cols_time = lesson_stats.columns.to_list()[1:5]
    mins = lesson_stats.loc[mask, cols_time].min()
    maxs = lesson_stats.loc[mask, cols_time].max()
    diff = (maxs.max() - mins.min()).seconds
    total_time_max_min[user] = diff
    
users_merged['Последний законченный урок'] = users_merged['Пользователь'].map(last_lesson)
users_merged['Текущий урок'] = users_merged['Пользователь'].map(current_lesson)

users_merged['Средняя оценка'] = users_merged['Пользователь'].map(av_points)
users_merged['Средняя время тестирования'] = users_merged['Пользователь'].map(av_test_time)
users_merged['Медианное время тестирования'] = users_merged['Пользователь'].map(med_test_time)

users_merged['Среднее время урока (прослушивание)'] = users_merged['Пользователь'].map(av_time_listen)
users_merged['Среднее время урока (модуль)'] = users_merged['Пользователь'].map(av_time_module)

users_merged['Медианное время урока (прослушивание)'] = users_merged['Пользователь'].map(med_time_listen)
users_merged['Медианное время урока (модуль)'] = users_merged['Пользователь'].map(med_time_module)

users_merged['Время тестирования всего'] = users_merged['Пользователь'].map(test_time_total)
users_merged['Время на курсе (завершённые уроки, прослушивание)'] = users_merged['Пользователь'].map(total_time_listen)
users_merged['Время на курсе (завершённые уроки, модуль)'] = users_merged['Пользователь'].map(total_time_module)
users_merged['Время на курсе (max-min)'] = users_merged['Пользователь'].map(total_time_max_min)


# cols = ['Средняя оценка', 'Среднее время теста', 'Текущий урок', 'Время тестирования всего', 'Время на курсе (завершённые уроки)', 'Время на курсе (max-min)']
users_merged = users_merged.fillna(0)

In [1427]:
# экспортируем датафрейм в эксель

# users_merged.to_excel("users.xlsx", sheet_name='Уникальные пользователи')

Теперь соберём статистику по урокам. Найдём следующие признаки для каждого урока:

In [583]:
lesson_stats['Урок начат'] = ~lesson_stats['Дата начала прослушивания'].isna()
lesson_stats['Урок закончен'] = ~lesson_stats['Завершение теста'].isna() & ~lesson_stats['Дата начала прослушивания'].isna()

In [584]:
func_dict = {'Количество баллов за тест':'mean', 'Время на уроке':'mean', 'Время теста':'mean', 'Урок начат':'sum', 'Урок закончен':'sum'}
cols_to_rename = {'Количество баллов за тест':'Средняя оценка теста',
                  'Время на уроке':'Среднее время урока',
                  'Время теста':'Среднее время теста',
                  'Урок начат':'Пользователи, начавшие урок',
                  'Урок закончен':'Пользователи, закончившие урок'
                 }

lessons_pivot = pd.pivot_table(lesson_stats, index='Урок', values=['Количество баллов за тест', 'Время на уроке', 'Время теста', 'Урок начат', 'Урок закончен'], aggfunc=func_dict)
lessons_pivot = lessons_pivot.rename(columns=cols_to_rename)

In [585]:
cities = users_merged['Местоположение'].value_counts()

In [586]:
# экспортируем датафрейм в эксель

# cities.to_excel('cities.xlsx', sheet_name='Города')
# lessons_pivot.to_excel("lesson_pivots.xlsx", sheet_name='Уроки')

In [587]:
green_user_stats['Количество Мусора'] = green_user_stats['Количество Мусора'].str.split()
green_user_stats['Количество Мусора'] = green_user_stats['Количество Мусора'].str[-2]

In [588]:
green_user_stats.loc[green_user_stats['Количество Мусора'] == '17', 'Количество Мусора'] = '17-17'
green_user_stats['Количество Мусора'] = green_user_stats['Количество Мусора'].str.replace('-', ' ')
green_user_stats['Количество Мусора'] = green_user_stats['Количество Мусора'].str.split()

green_user_stats['Мин. мешков'] = green_user_stats['Количество Мусора'].str[0]
green_user_stats['Мин. мешков'] = green_user_stats['Мин. мешков'].astype(int)
green_user_stats['Макс. мешков'] = green_user_stats['Количество Мусора'].str[1]
green_user_stats['Макс. мешков'] = green_user_stats['Макс. мешков'].astype(int)

green_user_stats['Среднее кол-во мешков'] = round((green_user_stats['Мин. мешков'] + green_user_stats['Макс. мешков']) / 2, 1)

In [589]:
most_common_trash = {}
for city in green_user_stats['Город Пользователя'].value_counts().index:
    most_common_trash[city] = green_user_stats.loc[green_user_stats['Город Пользователя'] == city, 'Тип Мусора'].value_counts().index[0]

green_func_dict = {'Количество Баллов':['mean', 'count'], 'Среднее кол-во мешков':'sum', 'Мин. мешков':'sum', 'Макс. мешков':'sum'}
green_user_pivot = pd.pivot_table(
    green_user_stats,
    index='Город Пользователя',
    values=['Количество Баллов', 'Среднее кол-во мешков', 'Мин. мешков', 'Макс. мешков'],
    aggfunc=green_func_dict
)
green_user_pivot['Наиболее частый мусор'] = green_user_pivot.index.map(most_common_trash)

green_user_pivot['Количество мусора'] = green_user_pivot['Мин. мешков'].astype(str) + '-' + green_user_pivot['Макс. мешков'].astype(str) + ' мешков'

In [590]:
green_user_pivot.columns = ['Количество участников',
                            'Средний балл',
                            '1',
                            '2',
                            'Всего мешков(сумма средних)',
                            'Наиболее частый мусор',
                            'Всего мешков(сумма интервалов)'
                        ]
green_user_pivot.reset_index()

mask = green_user_pivot['1'] == green_user_pivot['2']
green_user_pivot.loc[mask, 'Всего мешков(сумма интервалов)'] = green_user_pivot.loc[mask, '1'].astype(str) + '+ мешков'

green_user_pivot['Средний балл'] = round(green_user_pivot['Средний балл'], 1)

green_user_pivot = green_user_pivot.drop(columns=['1', '2'])

In [591]:
green_user_pivot

,Количество участников,Средний балл,Всего мешков(сумма средних),Наиболее частый мусор,Всего мешков(сумма интервалов)
Город Пользователя,,,,,
Абакан,1,10.0,2.0,Бутылки,1-3 мешков
Армавир,4,10.0,31.0,Бутылки,27-35 мешков
Без города,2,10.0,22.5,Пакеты,21-24 мешков
Братск,1,10.0,2.0,Пакеты,1-3 мешков
Владивосток,2,10.0,19.0,Бутылки,18-20 мешков
Вологда,1,10.0,2.0,Коробки,1-3 мешков
Екатеринбург,1,10.0,2.0,Окурки,1-3 мешков
Ижевск,1,10.0,2.0,Пакеты,1-3 мешков
Иркутск,1,10.0,2.0,Бутылки,1-3 мешков
Казань,1,8.0,2.0,Бутылки,1-3 мешков
Красноярск,2,10.0,34.0,Бутылки,34+ мешков
Липецк,2,9.0,4.0,Бутылки,2-6 мешков
Махачкала,1,10.0,15.0,Пакеты,13-17 мешков
Москва,2,10.0,12.0,Окурки,9-15 мешков
Нижний Новгород,1,10.0,10.0,Бутылки,8-12 мешков
Новосибирск,1,10.0,10.0,Пакеты,8-12 мешков
Оренбург,1,10.0,2.0,Пакеты,1-3 мешков
Пермь,1,10.0,2.0,Бутылки,1-3 мешков
Подольск,1,10.0,5.5,Окурки,4-7 мешков
Пушкино,1,10.0,2.0,Бутылки,1-3 мешков
Пятигорск,1,10.0,17.0,Бутылки,17+ мешков
Раменское,1,10.0,5.5,Бутылки,4-7 мешков
Санкт-Петербург,2,8.5,4.0,Окурки,2-6 мешков
Снежинск,1,8.0,2.0,Пакеты,1-3 мешков
Ставрополь,1,10.0,10.0,Бутылки,8-12 мешков
Тверь,1,10.0,2.0,Бутылки,1-3 мешков
Тольятти,1,10.0,17.0,Банки,17+ мешков
Томск,2,10.0,22.5,Окурки,21-24 мешков
Тюмень,2,10.0,12.0,Бутылки,9-15 мешков
Чебоксары,1,10.0,17.0,Окурки,17+ мешков
Челябинск,1,10.0,2.0,Бутылки,1-3 мешков
Южно-Сахалинск,1,10.0,10.0,Бутылки,8-12 мешков
Якутск,3,9.3,9.5,Окурки,6-13 мешков

In [592]:
# экспортируем датафрейм в эксель

# green_user_pivot.to_excel("green_user.xlsx", sheet_name='Green User')